---
import Default from '@astrojs/starlight/components/Footer.astro';

const isHomepage = Astro.locals.starlightRoute.id === '';
---

{
    isHomepage ? (
       <footer class="page-footer">
           <p>Copyright 2025 by <a href="https://pimenov.com.ua">Serhii Pimenov</a></p>
           <p><small>Latte 0.8.0, Doc 2025.1</small></p>
       </footer>
    ) : (
        <Default {...Astro.props}>
            <slot />
        </Default>
    )
}